adfs-plano
adfs-plano.log
adfs-dev.json
terraform.tfstate
terraform.tfstate.backup
**/.terraform/*
*.tfstate.lock.info
crash.log
crash.*.log
.terraform.lock.hcl
adfs-dev.json:Zone.Identifier
scripts/certificado.pfx
scripts/certificado.old